<html>

<head>
<title>Title</title>
<link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="styles.css">
</head>

<body>


<h1>Wat als
  <span
     class="txt-rotate"
     data-period="5000"
     data-rotate='[ "machines en producten kunnen praten .....", " een robot maar een paar honderd euro kost .....", " alles wat je kunt bedenken ook gemaakt kan worden?"]'>
     </span>
</h1>

</body>
<script src="scripts.js"></script>
</html>
